@import "tailwindcss";

@font-face {
    font-family: "StretchPro";
    src: url("./fonts/StretchPro.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Stretch-sm";
    src: url("./fonts/StretchPro-sm.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}



.nunito {
    font-family: "Nunito", sans-serif;
}

.stretch {
    font-family: "StretchPro", sans-serif;
}

.stretch-sm {
    font-family: "Stretch-sm", sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    font-family: "Nunito", sans-serif;
}
