@import "tailwindcss";

@font-face {
  font-family: 'StretchPro';
  src: url('./fonts/StretchPro.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* *{
  font-family: 'StretchPro';
} */

.nunito {
  font-family: 'Nunito', sans-serif;
}

.stretch {
  font-family: 'StretchPro', sans-serif;
}